/*CSS för mickes admin sida*/

/*admin index style for users*/
#users_table {
  margin-top: 40px;
  border-collapse: collapse; 
  margin-bottom: 40px;
}
#users_table tr,
#users_table td,
#users_table th {
  border: 1px solid black;
  padding: 10px;
}
tr td .passwordWidth {
	width: 30px !important;
	font-size: 12px;
}
table {
	overflow-x: auto;
}