/*CSS för mickes admin sida*/

/*admin index style for users*/
#users_table,
.order-table {
  margin-top: 40px;
  margin-bottom: 40px;
  border-collapse: collapse;
  text-align: center; 
}
#users_table tr,
#users_table td,
#users_table th {
  vertical-align: middle !important;
  /*border: 1px solid black;*/
  padding: 10px;
}
tr td .passwordWidth {
	width: 30px !important;
	font-size: 12px;
}
table {
	overflow-x: auto;
}

.order-table a {
  color: black;
}