.row {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	width: 100%%;
}

.product-card {
	width: 19rem;
}


.product-card:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.card-img-top {
	width: 19rem;
	height: 300px;
	padding: 10px;
}

.card-text {
	color: black;
}

#single-product-image {
	width: 500px;
	height: auto;
}

.product-container h3 {
	margin: 0;
	padding: 15px 0 10px;
}
.product-container {
	width: 50%;
}
.product-header {
	float: left;
	font-weight: bold;
}

.product-text {
	padding-left: 280px !important;
}
.product-description {
	margin-top: 20px;
}
.formClass2 {
	width: 50%;
	margin-left: calc(100% - 75%);
}

#product-list {
	position: absolute;
	max-width: 29.5rem;
	width: 100%;
	top: 50px;
	z-index: 10000;
	box-shadow: 0 1px 15px rgba(27,31,35,.15);
}
#product-list .list-group-item img {
	width: 50px;
	height: 50px;
}

.search-product-list-group a {
	color: black;
}
.search-product-list-group a:hover {
	color: rgb(85,85,85);
}
.search-product-list-group:hover {
	background-color: rgb(232,232,232);
}